html{
	background: linear-gradient(white, #D1F2F0);
	background-repeat: no-repeat;
	background-position: center;
	background-size:  cover;
	background-attachment: fixed;
}
.nav{
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align: center;
	background-color: #999999;
}
.nav li{
	display: inline;
	font-family: "Ink Free", "MV Boli", sans-serif;
	font-weight:  bold;
	font-size: 20px;
	

}

.nav a{
	color: white;
	padding: 20px 3%;
	text-decoration: none;
}

.nav a:hover{
	background-color: #AAAAAA;
}

a{
	color: blue;
	text-decoration: underline;
}

#title{
	text-align: center;
	margin-top: 30px;
	font-family: "Ink Free";
	font-weight: bold;
	text-decoration: underline;
}

#selfie{
	display: block;
	padding: 50px;
	margin: auto;
}

#txtbody{
	text-align: center;
	margin-top: 10px;
	margin-left: 150px;
	margin-right: 150px;
	font-family: "Ink Free", "MV Boli", sans-serif;
	font-weight: bold;

}

div.list{
	text-align: center;
}
ul.ulist{
	display: inline-block;
	text-align: left;
}

img.projectPictures{
	padding: 20px;
	display: block;
	margin: auto;
}

iframe{
	margin: 0 auto;
	width: 800px;
	height: 800px;
	display: block;
	border-style: none;
}
